body {
    text-align: -webkit-center;
    background-color: #1d3557;
    font-family: 'Rubik Light', 'Open Sans';
}

h1 {
    font-family: 'Futura', 'Open Sans';
    font-size: 64px;
}

h2 {
    font-family: 'Futura', 'Open Sans';
    font-size: 40px;
}

h3 {
    font-family: 'Futura', 'Open Sans';
    font-size: 24px;
}

h4 {
    font-family: 'Futura', 'Open Sans';
    font-size: 20px;
}

h5 {
    font-family: 'Futura', 'Open Sans';
    font-size: 18px;
}

h6 {
    font-family: 'Futura', 'Open Sans';
    font-size: 14px;
}

.para1 {
    font-size: 24px;
}

.para2 {
    font-size: 16px;
}

.para3 {
    font-size: 14px;
}


.btn {
    min-width: 6em;
    height: fit-content;
    background-color: #1d3557;
}


.container-fluid {
    background-color: whitesmoke;
    margin: 3em;
    padding: 1em;
    text-align: -webkit-center;
    border: solid .1em darkblue;
    display: flex;
    flex-direction: column;
    width: 90%;
}

@media all and (min-width: 1200px) {
    .container-fluid {
        width: 50%;
    }
}

div.tooltip-inner {
    border: solid .2rem darkblue;
    background-color: cornflowerblue;
    color: white;
}

.tooltip.in {
    opacity: 1 !important;
}

#mi1-toast {
    color: #212b32;
    background-color: #efefef;
    border: 1px solid darkgrey;
    opacity: 1 !important;
    z-index: 99999;
    text-align: center;
}

#div-main {
    /* height:80%; */
    padding: 0;
}

#div-patient-notes {
    height: 100vh;
}

#text-area-notes {
    width: 100%;
    height: 80%;
    border: solid .2rem darkblue;
}

/* .div-header {
    text-align: center;
    color: white;
    background-color: cornflowerblue;
    border: solid .2rem darkblue;
    font-size: 1.3rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
} */

.rda-title {
    text-align: center;
    color: white;
    background-color: #573F1D;
    /* border: solid .2rem darkblue; */
    font-size: 1.4em;
    margin-bottom: 1.5em;
    width: 100%;
    padding: .5em;
    border-radius: .5em;
}

.div-rda-header {
    text-align: left;
    color: darkblue;
    /* background-color: cornflowerblue; */
    /* border: solid .2rem darkblue; */
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-bottom: 0.1rem;
    /* width: 100%; */
}

#editor-container {
    text-align: left;
}

.section-container {
    border: solid 0.2rem gray;
    width: 100%;
    padding: 1em;
    color: darkblue;
    background-color: gainsboro;
    border-radius: 7px;
    text-align: left;
    min-height: 3em;
    margin-bottom: 2em;
}

.suggestions-container.is-empty {
    background: lightgray;
}



.section-container.clickable:hover {
    /* color: #0b5ed7; */
    background-color: lightgoldenrodyellow;
}

.div-suggestion {
    margin: 1em;
    padding: .7em 1em !important;
    border: solid 0.1rem darkblue;
    background-color: white;
    color: darkblue;
    box-shadow: 0.2em 0.2em darkslateblue;
}

/* .associated-evidence, .connected-papers */
.clickable {
    cursor: pointer;
}

.associated-evidence:after {
    font-family: "Font Awesome 5 Free";
    content: "\f35a";
    padding-left: 1em;
}

.disease-name {
    font-weight: bold;
    /* padding-left: 1em; */
}


.disease-prevalence,
.disease-probability {
    background-color: darkblue;
    color: white;
    padding: 0em .3em;
    border: solid .1em grey;
    border-radius: .3em;
    display: none;
}

.disease-probability:before {
    /* border: solid 0.1rem grey;
    border-radius: 100%;
    width: 2.5em;
    min-height: 1.5em;
    text-align: center; */
    content: 'Pb: ';
    /* background-color:white;
    color:grey; */
}

.disease-prevalence:before {
    content: 'Pr: ';
}

.disease-score {
    display: inline-block;
    width: 7%;
    color: green;
    text-align-last: right;
}

.disease-evidence {
    padding: .5em;
    background-color: lightblue;
}

.publication-url {
    padding: 0 1em;
}

.search-editor {
    background-color: whitesmoke;
    border: solid 3px grey;
    /* max-width: 80%;  */
    /* border-radius: 7px; */
}


.selection-tag {
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    padding: .5em;
    margin: 0em .5em;
    font-size: .8em;
    color: black;
    width: fit-content;
    border-radius: 7px;
}

.div-suggestion .selection-tag {
    margin: .5em .5em;
}

.div-suggestion .selection-tag.selectable {
    cursor: pointer;
}

.div-suggestion .selection-tag.selectable .selection-tag-text:hover {
    text-decoration: underline;
}

.selection-tag.selected {
    background-color: lightgoldenrodyellow;
    border-color: gold;
}

.selection-tag.matched {
    background-color: darkblue;
    color: white;
}


/* hide frequency for selected terms */
#selected-terms .selection-tag-frequency {
    display: none;
}

.selection-tag-frequency {
    font-size: .8em;
    color: white;
    margin-left: 1em;
    background-color: grey;
    border-radius: .5em;
    padding: .1em .5em
}

/* tick */
/* #selected-terms .selection-tag.selected:after {         
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    padding-left: 1em;
    color: green;
} */

/* cross */
/* #selected-terms .selection-tag:after {
    font-family: "Font Awesome 5 Free";
    content: "\f057";
    padding-left:1em;
    color: red;
} */

/* cross */
#selected-terms .remove-tag:after {
    font-family: "Font Awesome 5 Free";
    content: "\f057";
    padding-left: 1em;
    color: grey;
    cursor: pointer;
}

#selected-terms .remove-tag:hover:after {
    color: red;
}

#selected-terms .selection-tag:not(.selected) {
    display: none !important;
}

.expand-contract {
    border: 2px solid darkblue;
    /* background-color: cornflowerblue; */
    color: darkblue;
    min-width: 2em;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin-right: 1em;
}


/* span.expand-contract:hover:before {
    color: #0b5ed7;
}

span.expand-contract:hover {
    border-color: #0b5ed7;
} */

span.expand-contract:before {
    font-family: "Font Awesome 5 Free";
    content: "\f068";
    /*-*/
    font-weight: bold;
}

.contracted span.expand-contract:before {
    font-family: "Font Awesome 5 Free";
    content: "\2b";
    /*+*/
    font-weight: bold;
}

.contracted .disease-addinfo {
    display: none !important;
}

.btn-more-findings {
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 1em;
    /* color: white;
    background-color: black; */
}

.hide-findings .selection-tag:not(.top-eight) {
    display: none !important;
}

.show-findings .btn-more-findings:before {
    content: "Show Fewer Findings ...";
}

.hide-findings .btn-more-findings:before {
    content: "Show More Findings ...";
}