$colorLightBlue: rgb(3, 184, 234);
$colorDarkBlue: #5a99e2;
$colorWhite: #ffffff;
$colorBlack: Black #000000;
$colorRed: #f32e15;
$colorTransparentWhite: rgba(3, 184, 234, 0.5);

@media only screen and (max-width: 896px) {
  .h1 {
    font-size: 40px;
  }

  .h2 {
    font-size: 28px;
  }

  .h3 {
    font-size: 18px;
  }

  .h4 {
    font-size: 14px;
  }

  .para1 {
    font-size: 16px;
  }

  .para2 {
    font-size: 12px;
  }

  .para3 {
    font-size: 11px;
  }

  .btn {
    font-size: 0.8em;
  }

  .section-container {
    /* padding: .3em; */
    margin-bottom: 1em;
  }

  #search-section {
    font-size: 12px;
  }

  .selection-tag {
    padding: 0.5em;
    padding-right: 1em;
  }

  .div-suggestion {
    padding: 1em !important;
  }

  .expand-contract-icon {
    font-size: 1.1rem;
    margin-right: 1em;
    min-width: 1em;
  }

  //   #search-history-lines {
  //     max-height: 200px;
  //   }
}

@media all and (min-width: 897px) {
  /* @include media-breakpoint-up(sm) { */

  //   .container-fluid {
  //     width: 80%;
  //   }

  //   #primary-container {
  //     width: 90%;
  //   }

  .h1 {
    font-size: 64px;
  }

  .h2 {
    font-size: 40px;
  }

  .h3 {
    font-size: 24px;
  }

  .h4 {
    font-size: 20px;
  }

  .h5 {
    font-size: 18px;
  }

  .h6 {
    font-size: 14px;
  }

  .para1 {
    font-size: 24px;
  }

  .para2 {
    font-size: 16px;
  }

  .para3 {
    font-size: 14px;
  }

  .section-container {
    margin-bottom: 2em;
  }

  #suggestions-container {
    padding: 1em;
  }

  #search-section {
    font-size: 16px;
  }

  #selected-terms {
    /* background-color: rgba(0, 0, 0, .7); */
    z-index: 1;
  }

  .expand-contract-icon {
    font-size: 1.5rem;
    margin-right: 1em;
    min-width: 1.1em;
  }

  .cm-editor {
    padding: 0.1em 0;
  }
}

body {
  color: black;
  text-align: -webkit-center;
  background-color: black;
  font-family: "Rubik Light", "Open Sans";
}

#main {
  border: 15px solid $colorTransparentWhite;
  border-left: 0;
  border-radius: 7px;
}
#left-navbar {
  width: 80px;
  background-color: $colorTransparentWhite;
  min-height: calc(100vh - 150px);
  color: $colorLightBlue;
  padding: 2em 0;

  //   .image-description.hide {
  //     display: none;
  //   }
  i {
    color: $colorLightBlue;
    // border: 1px solid $colorLightBlue;
    padding: 0.5em;
    font-size: 1.5em;
    border: 1px solid white;
    border-radius: 7px;
    background-color: black;
  }

  button {
    margin-bottom: 0.5em;
  }
  :hover {
    width: fit-content;
  }
}
.stick-to-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  padding-bottom: 1em;
  i {
    font-size: 1.5em;
    color: $colorLightBlue;
  }
}

#results-container .stick-to-top {
  background-color: black;
}

/* hr.hr-1 {
    background: linear-gradient(to right, black, $colorLightBlue, white);
    height: 20px !important;
    margin-bottom: 2em;
}

hr.hr-2 {
    background: linear-gradient(to right, white, $colorLightBlue, black);
    height: 20px !important;
    margin-bottom: 2em;
} */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Futura", "Open Sans";
  text-align: left;
}

/* .h3 {
    padding: 0 0.7em 0.7em 0.5em;
} */

.btn-primary {
  min-width: 6em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: $colorRed;
  border-color: $colorRed;
  border: none;
  box-shadow: 0 0 0 0.25rem rgba(241, 11, 30, 0.884);

  &:focus {
    min-width: 6em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: $colorRed;
    border-color: $colorRed;
    border: none;
    box-shadow: 0 0 0 0.25rem rgba(241, 11, 30, 0.884);
  }
}

/* .btn:hover {
    background-color: white;
    color: black;
} */

.btn:hover {
  opacity: 0.8;
  background-color: inherit;
}

#primary-container {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}

// #results-container {
//   overflow-y: scroll;
// }
#editor-container {
  text-align: left;
  padding: 0.5em;
  border-radius: 7px;
  width: 100%;
}

div.tooltip-inner {
  border: solid 0.2rem $colorRed;
  background-color: black;
  color: white;
}

.tooltip.in {
  opacity: 1 !important;
}

#mi1-toast {
  color: white;
  background-color: black;
  border: 1px solid $colorRed;
  opacity: 1 !important;
  z-index: 99999;
  text-align: center;
}

#div-main {
  /* height:80%; */
  padding: 0;
}

.container-fluid.is-empty {
  .hide-at-start {
    display: none !important;
  }

  #suggestions-container {
    display: none;
  }
}

header {
  background-color: black;
  color: white;
  text-align: left;
}

#logo {
  padding: 30px;

  /* margin-right: auto; */
  /* margin: 30px 30px 30px; */
}
#search-history-container {
  color: $colorDarkBlue;
  //   border-right: 7px solid $colorDarkBlue;
  height: calc(100vh - 150px);
  //   background-color: $colorWhite;
}

.rda-title {
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  width: 50%;
  padding: 0.1em 0em;
  border-radius: 0.6em;
  background-image: linear-gradient(
    to right,
    rgb(3, 184, 234),
    white,
    rgb(3, 184, 234)
  );
  margin: 0.5em 0;
}

@keyframes pulse {
  0% {
    color: $colorDarkBlue;
    background-image: linear-gradient(to right, $colorLightBlue, black);
  }
  //   50% {
  //     color: $colorTransparentWhite;
  //   }
  100% {
    color: $colorLightBlue;
    background-image: linear-gradient(to right, black, $colorLightBlue);
  }
}

.rda-header {
  text-align: left;
  color: white;
  padding: 0.65em;

  /* margin-top: 1em; */
  /* margin-right: 1em; */
}

.rda-dropdown-items {
  text-align: center;
  background-color: $colorDarkBlue;

  li {
    padding-bottom: 0.5em;

    &:hover {
      background-color: white;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  li:hover a {
    color: $colorDarkBlue;
  }
}

#new-bookmarked-disease-textbox {
  margin: 0 1em;
  padding: 0 0.3em;
  border: 2px solid lightgray;
}

#bookmarked-diseases-label {
  color: $colorLightBlue;
}

.section-container {
  width: 100%;
  background-color: white;
  border-radius: 7px;
  text-align: left;
}

.page-info {
  /* font-family: "Font Awesome 5 Free";
  content: "\f05a"; */
  padding-left: 1em;
  color: $colorLightBlue;
  font-size: 0.7em;
  display: none;
}

.posneg-switch {
  label {
    font-size: 1.5em;
    color: white;
    cursor: pointer;
  }

  .form-switch {
    font-size: 1.5em;
    color: $colorDarkBlue;
    cursor: pointer;
    margin-top: auto;
  }
}

#search-section {
  &.positive-search #editor-container {
    background-color: $colorDarkBlue;
  }

  &.negative-search {
    #editor-container {
      background-color: $colorRed;
    }

    .fa-circle-minus {
      color: $colorRed;
    }
  }

  &.positive-search .fa-circle-plus {
    color: $colorDarkBlue;
  }

  .form-switch .form-check-input {
    cursor: pointer;
    margin-top: 0;
  }
}

.form-check {
  min-height: 0;
}

#search-section.negative-search .form-switch .form-check-input:checked {
  background-color: #f32f15;
}

.div-suggestion {
  margin: 1em;
  border: solid 0.2rem $colorLightBlue;
  background-color: white;
  color: black;
  border-radius: 7px;
  padding: 1.5em;
}

.clickable {
  cursor: pointer;
}

.associated-evidence:after {
  font-family: "Font Awesome 5 Free";
  content: "\f35a";
  padding-left: 1em;
}

.disease-name {
  font-weight: bold;

  /* padding-left: 1em; */
}

.disease-bookmark:before {
  /* font-family: "Font Awesome 5 Free";
  content: "\f02e"; */
  /* margin-left: 1em; */
  color: $colorLightBlue;
}

/* .disease-bookmark.active:before {
    color: gold;
} */

.search-history-bookmark {
  &:before {
    color: $colorLightBlue;
    font-size: 1.5em;
    margin-right: 1em;
  }

  &.active:before {
    color: gold;
  }
}

.disease-prevalence,
.disease-probability {
  background-color: white;
  color: black;
  padding: 0em 0.3em;
  border: solid 0.1em grey;
  border-radius: 0.3em;
  font-size: 0.7em;
}

@media only screen and (max-width: 896px) {
  .disease-prevalence.not-known:before {
    content: "?";
  }
}

@media only screen and (min-width: 897px) {
  .disease-prevalence.not-known:before {
    content: "Prevalence Not Known";
  }
}

.prevalence-title {
  &.popover {
    max-width: 100em;
    border-color: $colorLightBlue;
    border-width: 0.3em;

    /* font-family: "Everson Mono", "Monaco", "Courier New"; */
  }

  .popover-header {
    color: white;
    background-color: $colorLightBlue;
    font-size: 1.2em;
    font-weight: bold;
    display: none;
  }

  .popover-arrow {
    color: $colorLightBlue;

    /* background-color: black; */
  }

  .popover-body {
    color: white;
    background-color: black;

    /* font-family: "Courier"; */
    font-size: 1.2em;
    opacity: 0.8;

    .prevalence-label {
      width: 10em;
      text-align: left;
    }

    div {
      display: flex;
      align-content: space-between;
    }

    .prevalence-range {
      min-width: 50px;
      text-align: right;

      /* color: $colorLightBlue; */
      margin-left: auto;
    }
  }
}

.disease-probability {
  display: none;

  &:before {
    content: "Pb: ";
  }
}

/* .disease-prevalence:before {
    content: 'Pr: ';
} */

.disease-score {
  display: inline-block;
  width: 7%;
  color: $colorRed;
  -moz-text-align-last: right;
  text-align-last: right;
}

.disease-evidence {
  padding: 0.5em;
  background-color: lightblue;
}

.publication-url {
  padding: 0 1em;
}

.search-editor {
  background-color: white;
  width: 100%;
  padding: 0.2em 0;
}

.cm-editor:not(.cm-focused) .cm-activeLine:before {
  /* content: "e.g. Thrombocytopenia, Occipital Encephalocele, Hypotonia"; */
  content: "Enter disease or finding, e.g. Zellweger syndrome or liver failure";
  font-style: italic;
  color: grey;
}

/* .cm-completionIcon:before {
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid grey;
    padding: 3px;
    color: white;
    background-color: grey;
    font-size: 75%;
}

.cm-completionIcon-finding:before {
    content: "\46";
} */

.cm-completionLabel {
  padding-left: 15px;
}

/* #div-selected-terms {
    background-color: white;
    border: 10px solid $colorDarkBlue;
    margin-top: 1em;
    border-radius: 7px;
} */

.selection-tag {
  border: 1px solid $colorDarkBlue;
  background-color: white;
  color: black;
  border-radius: 7px;
  height: 3.5em;
  padding: 1em;
  max-width: 100%;

  /* margin: 1em; */

  &.mini .selection-tag-text {
    margin-right: 0;
  }

  &.selectable .posneg-finding {
    color: white;
    display: block;
  }

  &.selected .selection-tag-posneg {
    display: none;
  }

  &.selectable:not(.negative-finding) .posneg-finding {
    color: $colorDarkBlue;
  }
}

.selection-tag-text {
  padding-right: 1em;
}

.selection-tag {
  &:not(.selected) .selection-tag-text:hover,
  &.removeable .selection-tag-text:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .positive-finding,
  .negative-finding {
    cursor: pointer;
  }
}

.div-suggestion .posneg-finding {
  display: none;
}

.selection-tag {
  &.selected {
    color: white;
    background-color: $colorDarkBlue;
  }

  &.mini .selection-tag-frequency {
    display: none;
  }
}

/* hide frequency for selected terms */

.selection-tag-frequency {
  font-size: 0.8em;
  color: white;
  margin-left: 1em;
  border-radius: 0.5em;
  padding: 0.1em 0.5em;
}

/* .selection-tag .posneg-finding {
    padding-right: 1em;
    cursor: pointer;
} */

.selection-tag.negative-finding {
  background-color: $colorRed;
  color: white;
  border-color: $colorRed;
}

/* .selection-tag .posneg-finding:after {
    font-family: "Font Awesome 6 Free";
    cursor: pointer;
}

.selection-tag.positive-finding .posneg-finding:after {
    content: "\f164";
}

.selection-tag.negative-finding .posneg-finding:after {
    content: "\f165";
} */

.selection-tag-posneg {
  /* cursor: pointer; */
  color: $colorDarkBlue;
  font-size: 1.5em;
  width: 3em;
  text-align: center;

  /* margin-left: 1em; */
  /* background-color: white;
  border-left: 0; */

  .positive-finding {
    color: $colorDarkBlue;
  }

  .negative-finding {
    color: $colorRed;
  }

  .positive-finding:hover,
  .negative-finding:hover {
    opacity: 0.6;
  }
}

.selection-tag-hover-area {
  display: contents;
}

.selection-tag .posneg-finding:hover:after {
  color: lightgray;
}

#selected-terms {
  .remove-tag {
    cursor: pointer;

    &:after {
      font-family: "Font Awesome 6 Free";
      content: "X";
      font-size: 10px;
      margin-left: 2em;
      color: white;
      cursor: pointer;
    }

    &:hover:after {
      color: lightgray;
    }
  }

  .selection-tag:not(.selected) {
    display: none !important;
  }
}

/* x mark */

.expand-contract {
  max-width: 85%;
}

.expand-contract-icon {
  color: $colorLightBlue;
  cursor: pointer;
  text-align: center;

  &:before {
    font-family: "Font Awesome 5 Free";
    content: "\f077";
    font-weight: bold;
  }
}

.contracted .expand-contract-icon:before {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  font-weight: bold;
}

.expand-contract:hover .expand-contract-icon:before,
.expand-contract-icon:hover:before {
  content: "\f139";
  margin-right: -0.12em;
}

.contracted {
  .expand-contract:hover .expand-contract-icon:before,
  .expand-contract-icon:hover:before {
    content: "\f13a";
  }
}

.div-suggestion.contracted .disease-addinfo {
  display: none !important;
}

/* .div-suggestion.contracted .disease-addinfo,
#rda-header-diseases.contracted+#suggestions-container .disease-addinfo {
    display: none !important;
}

#rda-header-bookmarked-diseases.contracted+#bookmarked-diseases-container .disease-addinfo {
    display: none !important;
} */

.btn-more-findings {
  text-decoration: underline;
  margin-bottom: 1em;
  cursor: pointer;

  &:hover {
    color: $colorLightBlue;
  }
}

.hide-findings .selection-tag:not(.top-eight) {
  display: none !important;
}

.show-findings .btn-more-findings:before {
  content: "Show Fewer Findings ...";
}

.hide-findings .btn-more-findings:before {
  content: "Show All Findings ...";
}

.gradient-bar {
  width: 4.5em;
  height: 1em;
  background-image: linear-gradient(to right, $colorLightBlue, black);
  border: solid 1px black;
}

.selection-tag {
  &.selected .frequency-gradient {
    /* border: solid 1px white; */
    border-color: white;
  }

  &.mini {
    .frequency-gradient,
    .empty-box {
      display: none;
    }
  }
}

.empty-box {
  background-color: white;
  height: 1em;
  border: solid black;
  border-width: 1px 1px 1px 0px;
}

.selection-tag.selected .empty-box {
  /* border: solid 1px white; */
  border-color: white;
}

#editor-container .buttons {
  background-color: white;
  font-size: 1.3em;
  color: $colorDarkBlue;
  padding: 0.2em 0.5em;

  span {
    margin-left: 0.5em;
    padding: 0 0.3em;

    &:hover {
      color: $colorLightBlue;
      cursor: pointer;
    }
  }
}

.close-button:before {
  cursor: pointer;
  font-family: "Font Awesome 6 Free";
  content: "\f057";

  /* font-size: 1.4em; */
}

// #clear-search {
//   padding: 1em 0em 0.5em 0.5em;

//   i {
//     font-size: 1.8em;
//   }
// }
// //hide search history lines that haven't been selected
// #rda-header-search-history.show-favourites-only
//   .search-history-line-template
//   :not(span.save-icon.fas) {
//   display: none;
// }

#search-history {
  border: 7px solid $colorLightBlue;
  border-radius: 7px;

  &.contracted {
    display: none;
  }

  .header-label {
    color: $colorDarkBlue;
    text-align: left;
    width: 100%;
    padding: 0.5em;
  }
  .search-history-line-findings {
    padding: 0.5em 0;
    width: 100%;
  }

  .date-header {
    font-weight: bold;

    /* margin-left: .5em; */
    text-align: center;
    background-color: $colorLightBlue;
    color: white;
    padding: 1em;
    margin-bottom: 1em;
  }

  .search-time {
    font-weight: bold;
    margin: 0 0.5em;
    white-space: nowrap;

    /* background-color: $colorDarkBlue; */
    color: $colorDarkBlue;
    padding: 0.5em;
    border-radius: 7px;
  }
}

#search-history-navbar {
  //   vertical-align: text-top;
  padding: 0 1em;
}

#search-history-filters {
  margin-bottom: 1em;
  background-color: white;
  color: $colorDarkBlue;
}
#rda-header-search-history i {
  color: $colorLightBlue;
  font-size: 2em;
}

#close-search-history {
  font-size: 1.3em;
}

.search-history-line-findings span {
  padding: 0.15em 0.5em;
  margin: 0.2em 0.25em 0.2em 0.25em;
}

.search-history-line-header span {
  &.save-icon,
  &.share-icon {
    color: $colorLightBlue;
    font-size: 1rem;
    padding: 0.25em 0.5em;
    cursor: pointer;
    margin: 0 0.5em;
  }

  &.save-icon:hover {
    color: $colorDarkBlue;
  }
}

.shadow-animation {
  /* box-shadow: 1px 2px 4px 2px rgb(0 0 0 / 15%); */
  /* position: relative; */
  border-radius: 5px;
  transition: box-shadow 0.5s;
  //   padding: 0 0.3em;

  /* -webkit-transform: translateY(0);
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1); */

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  }
  &.black-shadow:hover {
    /* transform: scale(1.25, 1.25); */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  }
  &.white-shadow:hover {
    /* transform: scale(1.25, 1.25); */
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
  }
}

/* .shadow-animation:after {
    content: "";
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
} */
/* .search-history-line-findings span.save-icon.selected:before {
    cursor: pointer;
    font-family: "Font Awesome 6 Free";
    content: "\f005";
    font-size: 1.4em;
} */

#search-history-lines {
  //   max-height: 50vh;
  //   overflow-y: scroll;
  background-color: white;
  .search-history-line-findings {
    &:hover {
      background-color: lightgrey;
      cursor: pointer;
    }
  }

  .tag {
    border: 0.1em solid $colorDarkBlue;
    border-radius: 7px;
    background-color: white;
    color: $colorDarkBlue;
    padding: 0.15em 0.5em;
    margin: 0.2em 0.5em;

    &.negative-search {
      border-color: $colorRed;
      color: $colorRed;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: red;
  color: white;
  text-align: center;
  text-orientation: mixed;
  font-size: 37px;
  font-family: oswald-extralight, oswald, sans-serif;
  letter-spacing: 0.2em;
  font-weight: 700;
  background-color: black;
  border: 3px solid $colorLightBlue;
  padding: 0.5em 0.2em;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: white;
  }

  &.screen-left {
    left: 0;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: $colorLightBlue;
    border-color: $colorLightBlue;
  }

  &.screen-right {
    right: 0;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    color: $colorRed;
    border-color: $colorRed;
  }
}

#particles-js {
  canvas {
    display: block;
    vertical-align: bottom;
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.8s ease, transform 1.4s ease;
  }

  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

.split,
.gutter.gutter-horizontal {
  float: left;
}
.gutter.gutter-horizontal {
  cursor: ew-resize;
  background-color: gray;
  padding: 0 0.5em;

  flex-shrink: 0;
  height: auto;
  background-color: $colorTransparentWhite;
  //   border: solid $colorTransparentWhite;
  //   border-width: 1px 0;
  //   box-shadow: inset 0 0.5em 1.5em rgba(255, 255, 255, 0.1),
  //     inset 0 0.125em 0.5em $colorTransparentWhite;
  &:hover {
    background-color: $colorWhite;
  }
}
/*# sourceMappingURL=custom.css.map */
