/*
Light Blue #03B8EA
Dark Blue #5A99E2 
White #FFFFFF 
Black #000000 
Red #F32E15
*/

@media only screen and (max-width: 896px) {
    .h1 {
        font-size: 40px;
    }

    .h2 {
        font-size: 28px;
    }

    .h3 {
        font-size: 18px;
    }

    .h4 {
        font-size: 14px;
    }

    .para1 {
        font-size: 16px;
    }

    .para2 {
        font-size: 12px;
    }

    .para3 {
        font-size: 11px;
    }

    .btn {
        font-size: .8em;
    }

    .section-container {
        /* padding: .3em; */
        margin-bottom: 1em;
    }

    #suggestions-container {
        /* padding: .7em; */
    }

    #search-section {
        font-size: 12px;
    }

    #editor-container {
        text-align: left;
        padding: .5em;
    }

    #selected-terms {
        /* padding: 0 1em 0 .5em; */
        /* background-color: rgba(0, 0, 0, .7); */
        /* z-index: -1; */
    }

    .selection-tag {
        border: 1px solid #5A99E2;
        background-color: white;
        color: black;
        border-radius: 7px;
        padding: .5em;
        padding-right: 1em;
        max-width: 100%;
        /* margin: 1em; */
    }

    .div-suggestion {
        padding: 1em !important;
    }

    .expand-contract-icon {
        font-size: 1.1rem;
        margin-right: 1em;
        min-width: 1em;
    }

    /* .cm-editor,
    .cm-content {
        font-size: 12px;
    } */
}

@media all and (min-width: 897px) {

    /* @include media-breakpoint-up(sm) { */
    .container-fluid {
        width: 80%;
    }

    .primary-container {
        width: 90%;
    }

    .h1 {
        font-size: 64px;
    }

    .h2 {
        font-size: 40px;
    }

    .h3 {
        font-size: 24px;
    }

    .h4 {
        font-size: 20px;
    }

    .h5 {
        font-size: 18px;
    }

    .h6 {
        font-size: 14px;
    }

    .para1 {
        font-size: 24px;
    }

    .para2 {
        font-size: 16px;
    }

    .para3 {
        font-size: 14px;
    }

    .section-container {
        margin-bottom: 2em;
    }

    .selection-tag {
        border: 1px solid #5A99E2;
        background-color: white;
        color: black;
        border-radius: 7px;
        height: 3.5em;
        padding: 1em;
        max-width: 100%;
        /* margin: 1em; */
    }

    #suggestions-container {
        padding: 1em;
    }

    #search-section {
        font-size: 16px;
    }

    #editor-container {
        text-align: left;
        padding: .5em;
        border-radius: 7px;
        width: 100%;
    }

    #selected-terms {
        /* background-color: rgba(0, 0, 0, .7); */
        z-index: 1;
    }

    .expand-contract-icon {
        font-size: 1.5rem;
        margin-right: 1em;
        min-width: 1.1em;
    }

    .cm-editor {
        padding: .1em 0;
    }

    /* .cm-editor,
    .cm-content {
        font-size: 14px;
    } */
}

body {
    color: black;
    text-align: -webkit-center;
    background-color: black;
    font-family: 'Rubik Light', 'Open Sans';
}

/* hr.hr-1 {
    background: linear-gradient(to right, black, #03B8EA, white);
    height: 20px !important;
    margin-bottom: 2em;
}

hr.hr-2 {
    background: linear-gradient(to right, white, #03B8EA, black);
    height: 20px !important;
    margin-bottom: 2em;
} */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Futura', 'Open Sans';
    text-align: left;
}

/* .h3 {
    padding: 0 0.7em 0.7em 0.5em;
} */

.btn-primary,
.btn-primary:focus {
    min-width: 6em;
    height: fit-content;
    background-color: #F32E15;
    border-color: #F32E15;
    border: none;
    box-shadow: 0 0 0 0.25rem rgba(241, 11, 30, 0.884);
}

/* .btn:hover {
    background-color: white;
    color: black;
} */

.btn:hover {
    opacity: .8;
    background-color: inherit;
}

.primary-container {
    background-color: black;
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
}

div.tooltip-inner {
    border: solid .2rem #F32E15;
    background-color: black;
    color: white;
}

.tooltip.in {
    opacity: 1 !important;
}

#mi1-toast {
    color: white;
    background-color: black;
    border: 1px solid #F32E15;
    opacity: 1 !important;
    z-index: 99999;
    text-align: center;
}

#div-main {
    /* height:80%; */
    padding: 0;
}

#div-patient-notes {
    height: 100vh;
}


.container-fluid.is-empty .hide-at-start {
    display: none !important;
}

.container-fluid.is-empty #suggestions-container {
    display: none;
}

header {

    background-color: black;
    color: white;
    text-align: left;
}

#logo {
    padding: 30px;
    /* margin-right: auto; */
    /* margin: 30px 30px 30px; */
}

.rda-title {
    text-align: center;
    color: white;
    width: 100%;
    padding: .5em;
    border-radius: .5em;
}

.rda-header {
    text-align: left;
    color: white;
    padding: .65em 0 .65em .65em;
    /* margin-top: 1em; */

    /* margin-right: 1em; */
}

.rda-dropdown-items {
    text-align: center;
    background-color: #5A99E2;
}

.rda-dropdown-items li {
    padding-bottom: .5em;
}

.rda-dropdown-items li:hover {
    background-color: white;
}

.rda-dropdown-items a {
    color: white;
    text-decoration: none;
}

.rda-dropdown-items li:hover a {
    color: #5A99E2;
}

#new-bookmarked-disease-textbox {
    margin: 0 1em;
    padding: 0 .3em;
    border: 2px solid lightgray;

}

#bookmarked-diseases-label {
    color: #03B8EA;
}

.section-container {
    width: 100%;
    background-color: white;
    border-radius: 7px;
    text-align: left;
}

.page-info {
    /* font-family: "Font Awesome 5 Free";
    content: "\f05a"; */
    padding-left: 1em;
    color: #03B8EA;
    font-size: .7em;
    display: none;
}

.posneg-switch label {
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

.posneg-switch .form-switch {
    font-size: 1.5em;
    color: #5A99E2;
    cursor: pointer;
    margin-top: auto;
}

#search-section.positive-search #editor-container {
    background-color: #5A99E2;
}

#search-section.negative-search #editor-container {
    background-color: #F32E15;
}

#search-section.negative-search .fa-circle-minus {
    color: #F32E15;
}

#search-section.positive-search .fa-circle-plus {
    color: #5A99E2;
}

#search-section .form-switch .form-check-input {
    cursor: pointer;
    margin-top: 0;
}

.form-check {
    min-height: 0;
}

#search-section.negative-search .form-switch .form-check-input:checked {
    background-color: #f32f15;
}

.div-suggestion {
    margin: 1em;
    border: solid 0.2rem #03B8EA;
    background-color: white;
    color: black;
    border-radius: 7px;
    padding: 1.5em;
}

.clickable {
    cursor: pointer;
}

.associated-evidence:after {
    font-family: "Font Awesome 5 Free";
    content: "\f35a";
    padding-left: 1em;
}

.disease-name {
    font-weight: bold;
    /* padding-left: 1em; */
}

.disease-bookmark:before {
    /* font-family: "Font Awesome 5 Free";
    content: "\f02e"; */
    /* margin-left: 1em; */
    color: #03B8EA;
}

/* .disease-bookmark.active:before {
    color: gold;
} */

.search-history-bookmark:before {
    color: #03B8EA;
    font-size: 1.5em;
    margin-right: 1em;
}

.search-history-bookmark.active:before {
    color: gold;
}

.disease-prevalence,
.disease-probability {
    background-color: white;
    color: black;
    padding: 0em .3em;
    border: solid .1em grey;
    border-radius: .3em;
    font-size: 0.7em;
}


@media only screen and (max-width: 896px) {
    .disease-prevalence.not-known:before {
        content: "?"
    }
}

@media only screen and (min-width: 897px) {
    .disease-prevalence.not-known:before {
        content: "Prevalence Not Known"
    }
}

.prevalence-title.popover {
    max-width: 100em;
    border-color: #03B8EA;
    border-width: .3em;
    /* font-family: "Everson Mono", "Monaco", "Courier New"; */
}

.prevalence-title .popover-header {
    color: white;
    background-color: #03B8EA;

    font-size: 1.2em;
    font-weight: bold;
    display: none;
}

.prevalence-title .popover-arrow {
    color: #03B8EA;
    /* background-color: black; */
}

.prevalence-title .popover-body {
    color: white;
    background-color: black;
    /* font-family: "Courier"; */
    font-size: 1.2em;
    opacity: .8;
}

.prevalence-title .popover-body .prevalence-label {
    width: 10em;
    text-align: left;
}

.prevalence-title .popover-body div {
    display: flex;
    align-content: space-between;

}

.prevalence-title .popover-body .prevalence-range {
    min-width: 50px;
    text-align: right;
    /* color: #03B8EA; */
    margin-left: auto;
}

.disease-probability {
    display: none;
}

.disease-probability:before {
    content: 'Pb: ';
}

/* .disease-prevalence:before {
    content: 'Pr: ';
} */

.disease-score {
    display: inline-block;
    width: 7%;
    color: #F32E15;
    text-align-last: right;
}

.disease-evidence {
    padding: .5em;
    background-color: lightblue;
}

.publication-url {
    padding: 0 1em;
}

.search-editor {
    background-color: white;
    width: 100%;
    padding: .2em 0;
}

.cm-editor:not(.cm-focused) .cm-activeLine:before {
    /* content: "e.g. Thrombocytopenia, Occipital Encephalocele, Hypotonia"; */
    content: "Enter disease or finding";
    font-style: italic;
    color: grey;
}

/* .cm-completionIcon:before {
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid grey;
    padding: 3px;
    color: white;
    background-color: grey;
    font-size: 75%;
}

.cm-completionIcon-finding:before {
    content: "\46";
} */

.cm-completionLabel {
    padding-left: 15px;
}

/* #div-selected-terms {
    background-color: white;
    border: 10px solid #5A99E2;
    margin-top: 1em;
    border-radius: 7px;
} */

.selection-tag.mini .selection-tag-text {
    margin-right: 0;
}

.selection-tag.selectable .posneg-finding {
    color: white;
    display: block;
}

.selection-tag.selected .selection-tag-posneg {
    display: none;
}

.selection-tag.selectable:not(.negative-finding) .posneg-finding {
    color: #5A99E2;
}

.selection-tag-text {
    padding-right: 1em;
}

.selection-tag:not(.selected) .selection-tag-text:hover,
.selection-tag.removeable .selection-tag-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.selection-tag .positive-finding {
    cursor: pointer;
}

.selection-tag .negative-finding {
    cursor: pointer;
}

.div-suggestion .posneg-finding {
    display: none;
}

.selection-tag.selected {
    color: white;
    background-color: #5A99E2;
}

/* hide frequency for selected terms */
.selection-tag.mini .selection-tag-frequency {
    display: none;
}

.selection-tag-frequency {
    font-size: .8em;
    color: white;
    margin-left: 1em;
    border-radius: .5em;
    padding: .1em .5em
}


/* .selection-tag .posneg-finding {
    padding-right: 1em;
    cursor: pointer;
} */

.selection-tag.negative-finding {
    background-color: #F32E15;
    color: white;
    border-color: #F32E15;
}

/* .selection-tag .posneg-finding:after {
    font-family: "Font Awesome 6 Free";
    cursor: pointer;
}

.selection-tag.positive-finding .posneg-finding:after {
    content: "\f164";
}

.selection-tag.negative-finding .posneg-finding:after {
    content: "\f165";
} */

.selection-tag-posneg {
    /* cursor: pointer; */
    color: #5A99E2;
    font-size: 1.5em;
    width: 3em;
    text-align: center;
    /* margin-left: 1em; */
    /* background-color: white;
    border-left: 0; */
}

.selection-tag-posneg .positive-finding {
    color: #5A99E2;
}

.selection-tag-posneg .negative-finding {
    color: #F32E15;
}

.selection-tag-posneg .positive-finding:hover {
    opacity: .6;
}

.selection-tag-posneg .negative-finding:hover {
    opacity: .6;
}

.selection-tag-hover-area {
    display: contents;
}

.selection-tag .posneg-finding:hover:after {
    color: lightgray;
}

#selected-terms .remove-tag {
    cursor: pointer;
}

/* x mark */
#selected-terms .remove-tag:after {
    font-family: "Font Awesome 6 Free";
    content: "\58";
    font-size: 10px;
    margin-left: 2em;
    color: white;
    cursor: pointer;
}

#selected-terms .remove-tag:hover:after {
    color: lightgray;
}

#selected-terms .selection-tag:not(.selected) {
    display: none !important;
}

.expand-contract {
    max-width: 85%;
}

.expand-contract-icon {
    color: #03B8EA;
    cursor: pointer;
    text-align: center;
}

.expand-contract-icon:before {
    font-family: "Font Awesome 5 Free";
    content: "\f077";
    font-weight: bold;
}

.contracted .expand-contract-icon:before {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-weight: bold;
}

.expand-contract:hover .expand-contract-icon:before,
.expand-contract-icon:hover:before {
    content: "\f139";
    margin-right: -.12em;
}

.contracted .expand-contract:hover .expand-contract-icon:before,
.contracted .expand-contract-icon:hover:before {
    content: "\f13a"
}

.div-suggestion.contracted .disease-addinfo {
    display: none !important;
}

/* .div-suggestion.contracted .disease-addinfo,
#rda-header-diseases.contracted+#suggestions-container .disease-addinfo {
    display: none !important;
}

#rda-header-bookmarked-diseases.contracted+#bookmarked-diseases-container .disease-addinfo {
    display: none !important;
} */


.btn-more-findings {
    text-decoration: underline;
    margin-bottom: 1em;
    cursor: pointer;
}

.btn-more-findings:hover {
    color: #03B8EA
}

.hide-findings .selection-tag:not(.top-eight) {
    display: none !important;
}

.show-findings .btn-more-findings:before {
    content: "Show Fewer Findings ...";
}

.hide-findings .btn-more-findings:before {
    content: "Show All Findings ...";
}

.gradient-bar {
    width: 4.5em;
    height: 1em;
    background-image: linear-gradient(to right, #03B8EA, black);
    border: solid 1px black;
}

.selection-tag.selected .frequency-gradient {
    /* border: solid 1px white; */
    border-color: white;
}

.selection-tag.mini .frequency-gradient {
    display: none;
}

.selection-tag.mini .empty-box {
    display: none;
}

.empty-box {
    background-color: white;
    height: 1em;
    border: solid black;
    border-width: 1px 1px 1px 0px;
}

.selection-tag.selected .empty-box {
    /* border: solid 1px white; */
    border-color: white;
}

#editor-container .buttons {
    background-color: white;
    font-size: 1.3em;
    color: #5A99E2;
    padding: 0.2em .5em;
}

#editor-container .buttons span {
    margin-left: .5em;
}

#editor-container .buttons span:hover {
    color: #03B8EA;
    cursor: pointer;
}

/* #search-history-icon {
    background-color: white;
    color: #5A99E2;
    background-color: white;
    height: 100%;
    margin-right: 1em;
    font-size: 1.3em;
} */

/* #search-history-icon:hover {
    color: #03B8EA;
    cursor: pointer;
} */

.close-button:before {
    cursor: pointer;
    font-family: "Font Awesome 6 Free";
    content: "\f057";

    /* font-size: 1.4em; */
}

/* 
#clear-all-icon:hover,
#search-history-icon:hover {
    color: #03B8EA;
}

#clear-all-icon {
    background-color: white;
    padding: 0.2em .5em;
    color: #5A99E2;
}*/

#search-history {
    background-color: white;
    color: #5A99E2;
}

#search-history .header-label {
    color: white;
    text-align: left;
    width: 100%;
    padding: .5em;
    background-color: #5A99E2;
    /* margin-bottom: .5em; */
}

#close-search-history {
    font-size: 1.3em;
}

.search-history-line span {
    padding: .15em .5em;
    margin: .2em .25em .2em .25em;
}

.search-history-line-header span.save-icon,
.search-history-line-header span.share-icon {
    color: #03B8EA;
    font-size: 1rem;
    padding: .25em .5em;
    cursor: pointer;
    margin: 0 .5em;
}

.search-history-line-header span.save-icon:hover {
    color: #5A99E2;
}

.shadow-animation {
    /* box-shadow: 1px 2px 4px 2px rgb(0 0 0 / 15%); */
    /* position: relative; */
    border-radius: 5px;
    transition: box-shadow .5s;
    /* -webkit-transform: translateY(0);
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.shadow-animation:hover {
    /* transform: scale(1.25, 1.25); */
    box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 15%);
    cursor: pointer;
}

/* .shadow-animation:after {
    content: "";
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
} */

/* .search-history-line span.save-icon.selected:before {
    cursor: pointer;
    font-family: "Font Awesome 6 Free";
    content: "\f005";
    font-size: 1.4em;
} */

#search-history .search-history-line {
    padding: .5em 0;
}

#search-history .date-header {
    font-weight: bold;
    /* margin-left: .5em; */
    text-align: center;
    background-color: #03B8EA;
    color: white;
    padding: 1em;
    margin-bottom: 1em;
}

#search-history .search-time {
    font-weight: bold;
    margin: 0 .5em;
    /* background-color: #5A99E2; */
    color: #5A99E2;
    padding: .5em;
    border-radius: 7px;
}

#search-history .search-history-line-header {
    /* background-color: grey; */
    /* margin-bottom: .5em; */
}

.search-history-line:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.search-history-line .tag {
    border: .1em solid #5A99E2;
    border-radius: 7px;
    background-color: white;
    color: #5A99E2;
    padding: .15em .5em;
    margin: .2em .5em;
}

.search-history-line .tag.negative-search {
    border-color: #F32E15;
    color: #F32E15;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}